<div class="wrapper column gap-1">
  <img src="assets/images/{{ product.image }}" alt="Thumbnail" />

  <h2 class="title">{{ product.name }}</h2>

  <div class="row">
    <span class="price-label">Price:</span>
    <span class="price">{{ product.price }}</span>
  </div>

  <p-rating
    [(ngModel)]="product.rating"
    [readonly]="true"
    iconCancelClass="hidden"
  ></p-rating>

  <div class="row gap-05">
    <button
      type="button"
      pButton
      icon="pi pi-pencil"
      (click)="editProduct()"
      label=""
    ></button>

    <button
      type="button"
      pButton
      class="p-button-danger"
      icon="pi pi-trash"
      (click)="deleteProduct()"
      label=""
    ></button>
  </div>
</div>
