.wrapper {
  width: 250px;

  img {
    aspect-ratio: 1;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    background-color: #fff;
  }

  .title {
    font-weight: 700;
    font-size: 1.5rem;
  }

  .price-label {
    font-weight: 300;
    font-size: 1rem;
  }

  .price {
    font-weight: 500;
    font-size: 1rem;
    padding-left: 5px;
  }
}
