<div class="column gap-1">
  <!-- Add product button -->
  <div class="row align-center justify-center add-btn--wrapper">
    <button type="button" pButton icon="pi pi-plus" (click)="toggleAddPopup()" label="Add Product"></button>

  </div>

  <div class="row wrap gap-2 space-between justify-center">
    <app-product *ngFor="let product of products" [product]="product" (edit)="toggleEditPopup($event)"
      (delete)="toggleDeletePopup($event)">
    </app-product>
  </div>

  <div class="pagination-wrapper">
    <!-- Paginator -->
    <p-paginator (onPageChange)="onPageChange($event)" [first]="1" [rows]="rows" [totalRecords]="totalRecords"
      [rowsPerPageOptions]="[5, 10, 20]" #paginator></p-paginator>
  </div>

  <app-edit-popup [product]="selectedProduct" [(display)]="displayEditProduct" (confirm)="onConfirmEdit($event)"
    header="Edit Product">
  </app-edit-popup>

  <app-edit-popup [(display)]="displayAddProduct" (confirm)="onConfirmAdd($event)" header="Add Product">
  </app-edit-popup>

  <app-edit-popup [product]="selectedProduct" [(display)]="displayDeleteProduct" (confirm)="onConfirmDelete($event)"
    header="Delete Product">
  </app-edit-popup>
</div>