.pagination-wrapper{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.add-btn--wrapper{
    width: max-content;
    padding: 8px;
    height: 100%;
    margin-left: auto;
}