@import url(./styles/theme-variables.scss);
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

html,
body,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

html,
body,
app-root {
  height: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text);
}

app-root {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.mt-15 {
  margin-top: 15px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-25 {
  margin-bottom: 25px;
}

.wrap {
  flex-wrap: wrap;
}

.gap-1 {
  gap: 1rem;
}

.gap-05 {
  gap: 0.5rem;
}

.gap-2 {
  gap: 2rem;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.full-center {
  align-items: center;
  justify-self: center;
}

.hidden {
  display: none;
}

.left {
  align-items: flex-start;
}

// Theme override
.p-rating-cancel-item {
  display: none !important;
}

.p-paginator, .p-paginator-pages, .p-paginator-page, .p-highlight {
  background-color: transparent;
}
