<p-dialog header="header" [(visible)]="display" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }"
  [draggable]="false" [resizable]="false" [modal]="true" [closable]="false">
  <div class="column gap-1">
    <div class="row gap-1">
      <span class="price-label">Name:</span>
      <input type="text" [(ngModel)]="product.name" />
    </div>

    <div class="row gap-1">
      <span class="price-label">Price:</span>
      <input type="text" [(ngModel)]="product.price" />
    </div>

    <div class="row gap-1">
      <span class="price-label">Image Url:</span>
      <input type="text" [(ngModel)]="product.image" />
    </div>

    <div class="row gap-1">
      <p-rating [(ngModel)]="product.rating" [readonly]="false" iconCancelClass="hidden"></p-rating>
    </div>
  </div>

  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="onConfirm()" label="Confirm"></button>

    <button type="button" pButton icon="pi pi-times" (click)="onCancel()" label="Cancel"></button>
  </p-footer>
</p-dialog>