@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

.wrapper {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid var(--secondary-text);
    padding: 8px;
    box-sizing: border-box;
}

.route-wrapper {
    a {
        color: var(--primary-text);
        text-decoration: none;
        font-weight: 300;
    }

    a.active {
        font-weight: 600;
    }
}

.img-icon {
    height: 40px;
    width: 40px;
    margin-left: 1rem;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    color: #555;
    // text-transform: uppercase; 
    letter-spacing: 0.05em;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}

.logo:hover {
    color: #858282;
    transition: color 0.3s ease;
}

@media (max-width: 768px) {
    .logo {
        font-size: 24px;
    }
}