<div class="wrapper row full-center">
    <!-- <img src="../../../assets/images/wave.png" alt="Icon png" class="img-icon left"> -->
    <p class="logo">Ocean</p>

    <div class="route-wrapper row gap-1">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a routerLink="/about-us" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About Us</a>
    </div>
</div>