$background-color: #ffffff;
$primary-text: #333333;
$secondary-text: #555555;
$primary-accent: #007bff;
$secondary-accent: #ff4081;
$tertiary-accent: #00bcd4;
$lighter-shade: #f0f0f0;
$darker-shade: #cccccc;
$error-color: #d32f2f;
$warning-color: #ffa000;
$success-color: #4caf50;
$border-color: #dddddd;
