:root {
  --background-color: #121212;
  --primary-text: #ffffff;
  --secondary-text: #bbbbbb;
  --primary-accent: #bb86fc;
  --secondary-accent: #03dac6;
  --tertiary-accent: #cf6679;
  --lighter-shade: #1f1f1f;
  --darker-shade: #000000;
  --error-color: #cf6679;
  --warning-color: #ffb74d;
  --success-color: #03dac5;
  --border-color: #343434;
}
